/* make each slide take up the whole display */
.slides > article {
  width: 100%;
  height: 100%;

  left: 0%;
  top: 0%;

  margin-left: 0px;
  margin-top: 0px;

  padding: 0px 0px;
}
.slides > article.next {
  display: block;
  transform: translate(100%);
  -o-transform: translate(100%);
  -moz-transform: translate(100%);
  -webkit-transform: translate3d(100%, 0, 0);
}
.slides > article.far-next {
  display: block;
  transform: translate(200%);
  -o-transform: translate(200%);
  -moz-transform: translate(200%);
  -webkit-transform: translate3d(200%, 0, 0);
}

/* offset for all slides*/
article h1 {
  padding-top: 80px;
  padding-left: 80px;
  font-size: 4.4em;
  font-weight: 900;
  letter-spacing: 0px;
}
article h2 {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 60px;
  margin-right: 200px;
  margin-bottom: 20px;
  font-size: 2.75em;
  font-weight: 600;
  letter-spacing: 0px;
  box-shadow:
    0 5px 0 #e88011,
    0 8px 0 #fbc997;
    /*0 10px 0 #44a624;
    /*0 20px 0 #1b643a;*/
}
p {
  padding-left: 80px;
  padding-top: 40px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 70px;
}
ul {
  padding-left: 80px;
  margin-right: 150px;
  font-size: 55px;
  line-height: 57px;
}
ul li::before {
  content: 'â—';
}
ul ul {
  padding-left: 0px;
  margin-left: 20px;
}
dd {
  margin-top: 0.5em;
}
.std-ref {
  font-weight: 300;
  font-size: 42px;
  text-decoration: underline;
  position: absolute;
  bottom: 2em;
  left: 80;
}
/* code boxes */
div.highlight-default.notranslate {
  margin-left: 80px;
  margin-right: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 45px;
}
/* code text */
/*pre {
*  color: gray;
*}
*/

/* signature footer */
.figure.align-default {
  width: 4em;
  height: 1.75em;
  padding-left: 4px;
  padding-right: 4px;
}
.align-default {
  position: absolute;
  left: 0.5%;
  bottom: 0;
}
.figure.align-default {
  text-align: left;
  margin-bottom: 0;
}
p.caption {
  position: absolute;
  left: 0;
  bottom: 0;
}
.lthird {
  position: absolute;
  left: 15px;
  bottom: 34px;
  font-size: 24px;
}
.lsecond {
  position: absolute;
  left: 50px;
  bottom: 0;
}
.right {
  position: absolute;
  right: 2%;
  bottom: 2%;
}
.rsmall {
  position: absolute;
  right: 2%;
  bottom: 2%;
  width: 156px;
  height: 156px;
}

/* set color theme here */
:root {
  --white: #fbfbfb;
  --black: #131313;
}
.slides > article {
  background-color: var(--white);
  color: var(--black);
}
